<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{--  {{ style('style') }}  --}}
</head>
<body>
  <h1>{{ title }}</h1>
  <form method="POST" action="{{ '/users/update/' + posts.id + '?_method=PUT'}}" >
    {{ csrfField ()}}
    {{ elIf ('$self', getErrorFor('firstName'), hasErrorFor('firstName')) }}<br>
    <input type="text" name="firstName" value="{{ posts.firstname }}"> 
    {{ elIf ('$self', getErrorFor('lastName'), hasErrorFor('lastName')) }}<br>
    <input type="text" name="lastName"  value="{{ posts.lastname }}"> 
    <input type="submit" name="btnEdit" value="Update">
  </form>
  <form method="post" action="{{ '/users/delete/'+posts.id+'?_method=DELETE'}}">
      {{ csrfField ()}}
      <input type="submit"  value="Delete">
    <form>
</body>
</html>
